* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    /* display: flex;
    justify-content:space-around; */
    margin-top: 2rem;
}

.flex {
    display: flex;
    /* flex-direction: column; */
    margin-top: 1rem;
    margin-left: 1rem;
}


input {
    padding: 0.5rem;
    margin-left: 1rem;
}


button {
    margin-left: 45%;
    margin-top: 2rem;
    padding: 0.5rem;
}


h4 {
    margin-left: 2rem;
}
.final-price, .final-km, .final-age {
    border: 1px solid black;
    padding: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: 35rem;
}


.single-box {
    margin-top: 2rem;
}
